{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        clj-http/clj-http {:mvn/version "3.13.0"}
        cheshire/cheshire {:mvn/version "5.13.0"}
        slingshot/slingshot {:mvn/version "0.12.2"}
        clj-kondo/clj-kondo {;;  :mvn/version "2022.08.03"
                             ;; :mvn/version "2023.02.17"
                             ;; :local/root "../clj-kondo"
                             :git/sha "72396dc60b031cd6180187f95abeadaa0feff207"
                             :git/url "https://github.com/clj-kondo/clj-kondo"
                             }
        borkdude/edamame {:mvn/version "1.0.16"}
        io.github.phronmophobic/taro {:git/sha "481ab2fa650b52330bc794d2e170036c34233e82" :git/tag "v1.2"}
        amazonica/amazonica {:mvn/version "0.3.163"}
        com.rpl/specter {:mvn/version "1.1.4"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.939"}
        org.xerial/sqlite-jdbc {:mvn/version "3.46.0.0"}
        com.github.seancorfield/honeysql {:mvn/version "2.6.1147"}
        datalevin/datalevin {:mvn/version "0.9.8"}
        }
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}}

  :memory {:jvm-opts ["-Xmx3072M"]}

  :project
  {:extra-deps {com.phronemophobic/membrane {:mvn/version "0.9.31.8-beta"}
                com.phronemophobic.membrane/skialib-macosx-aarch64 {:mvn/version "0.9.31.0-beta"}
                com.phronemophobic/spreadsheet {:local/root "../spreadsheet"}}
   :jvm-opts ["-DAWS_PROFILE=dewey"
              ;; for datalevin
              "--add-opens=java.base/java.nio=ALL-UNNAMED"
              "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"]}

  :analysis
  {:jvm-opts ["-Xmx32G"]}

  :update-clojure-repo-index
  {:exec-fn com.phronemophobic.dewey/update-clojure-repo-index}

  :download-deps
  {:exec-fn com.phronemophobic.dewey/download-deps}

  :update-tag-index
  {:exec-fn com.phronemophobic.dewey/update-tag-index}

  :update-default-branches
  {:exec-fn com.phronemophobic.dewey/update-default-branches}

  :update-available-git-libs-index
  {:exec-fn com.phronemophobic.dewey/update-available-git-libs-index}

  :make-release
  {:exec-fn com.phronemophobic.dewey/make-release}

  :jar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
        :exec-fn hf.depstar/jar
        :exec-args {:jar "dewey.jar" :sync-pom true}}
  :install {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
            :exec-fn deps-deploy.deps-deploy/deploy
            :exec-args {:installer :local :artifact "dewey.jar"}}
  :deploy {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote :artifact "dewey.jar"}}}}
