{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.0"}
        clj-http/clj-http {:mvn/version "3.12.3"}
        cheshire/cheshire {:mvn/version "5.10.2"}
        slingshot/slingshot {:mvn/version "0.12.2"}
        clj-kondo/clj-kondo { ;;:mvn/version "2022.08.03"
                             :local/root "../clj-kondo"}
        }
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}}

  :project
  {:extra-deps {com.phronemophobic/membrane {:mvn/version "0.9.31.8-beta"}
                com.phronemophobic.membrane/skialib-macosx-aarch64 {:mvn/version "0.9.31.0-beta"}
                com.phronemophobic/spreadsheet {:local/root "../spreadsheet"}}}

  :analysis
  {:jvm-opts ["-Xmx32G"]}

  :update-clojure-repo-index
  {:exec-fn com.phronemophobic.dewey/update-clojure-repo-index}

  :download-deps
  {:exec-fn com.phronemophobic.dewey/download-deps}

  :update-tag-index
  {:exec-fn com.phronemophobic.dewey/update-tag-index}

  :update-available-git-libs-index
  {:exec-fn com.phronemophobic.dewey/update-available-git-libs-index}

  :make-release
  {:exec-fn com.phronemophobic.dewey/make-release}

  :jar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
        :exec-fn hf.depstar/jar
        :exec-args {:jar "dewey.jar" :sync-pom true}}
  :install {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
            :exec-fn deps-deploy.deps-deploy/deploy
            :exec-args {:installer :local :artifact "dewey.jar"}}
  :deploy {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote :artifact "dewey.jar"}}}}
