{:paths ["src"]
 :deps {}
 :aliases
 {:stats
  {:main-opts ["-m" "stats"]}

  :project
  {:extra-deps {com.phronemophobic/membrane {:mvn/version "0.9.31.8-beta"}
                com.phronemophobic.membrane/skialib-macosx-aarch64 {:mvn/version "0.9.31.0-beta"}
                com.phronemophobic/spreadsheet {:local/root "../../../spreadsheet"}

                com.cognitect.aws/api       {:mvn/version "0.8.620"}
                com.cognitect.aws/endpoints {:mvn/version "1.1.12.353"}
                com.cognitect.aws/s3        {:mvn/version "825.2.1250.0"}
                com.cognitect.aws/ec2 {:mvn/version "825.2.1266.0"}}}}}
